//Variables
$bodyFontColor: #0D1B1E;
$headerBannerBorder: #F2F4FF;
$navBorder: #F2F4FF;
$headerAnchorColor: #0D1B1E;
$headerHedingFont: 2.2em;
$headingAnchorBackground: #B2FFD6;
$subHeadingsColor: #C492B1;
